# POSTGRESQL
DB_DATABASE="your_database_name"
DB_HOST="your_database_host"
DB_PASSWORD="your_database_password"
DB_PORT="5432"
DB_USERNAME="your_database_username"

# JWT
JWT_SECRET="your_jwt_secret_key_change_in_production"

# REDIS
NEWS_CACHE_TTL="3600"
REDIS_DB="0"
REDIS_HOST="your_redis_host"
REDIS_PASSWORD="your_redis_password"
REDIS_PORT="6379"

# BASEURLS
BASEURL_OPENSTREETMAP="https://nominatim.openstreetmap.org/reverse"
BASEURL_WIKIDATA="https://www.wikidata.org/w/api.php"
BASEURL_RSS_NEWS="https://www.elcorreo.com/rss/2.0/?section=athletic"

# CORS
CORS_ORIGINS_MAIN_LOGIC_SERVICE="frontend_url_here,gateway_url_here" # Permitir acceso desde el frontend u OpenAPI

# OAUTH
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://your_gateway_url/api/auth/google/callback"

DISCORD_CLIENT_ID="your_discord_client_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"
DISCORD_CALLBACK_URL="http://your_gateway_url/api/auth/discord/callback"

CORS_ORIGINS_AUTH_SERVICE="frontend_url_here"
FRONTEND_URL="frontend_url_here"
NEXT_PUBLIC_API_BASE_URL="gateway_url_here"

APP_PORT_MAIN_LOGIC_SERVICE="5000"
APP_PORT_AUTH_SERVICE="5001"
APP_PORT_FRONTEND="3000"
HOST_MAIN_LOGIC_SERVICE="0.0.0.0"