fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.12.3
pydantic-settings==2.6.0
python-dotenv==1.0.1

# API Requests
httpx==0.27.2
feedparser==6.0.12
wikidata==0.9.0

# Redis Cache
redis==5.0.1

# Database
psycopg2-binary==2.9.10
sqlalchemy==2.0.36

# JWT
PyJWT==2.8.0

# Background Tasks
apscheduler==3.10.4

# Testing
pytest==8.3.3